application/config/config.php
application/config/database.php

/application/cache
.int1-data/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.buildpath
.project
.editorconfig
  
/application/config/config.php
/application/config/database.php
