@font-face {
    font-family: 'Mont';
    src: url('Mont-Regular.woff2') format('woff2'),
        url('Mont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

